*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}
:root{
    --mode-wcolor: #ffffff;
    --mode-fcolor: #37474f;
    --mode-bcolor: #dee4e7;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 12px;
    background-color: var(--mode-wcolor);
}
#header{
    height: auto;
    width: 100%;
    padding: 12px;
    background-color: var(--mode-bcolor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
#title-icon{
    height: 64px;
    width: 64px;
    cursor: pointer;
}
#app-title{
    font-size: 32px;
    color: var(--mode-fcolor);
    font-weight: bold;
}
#note-wrapper{
    flex: 1;
    width: 100%;
    padding: 12px;
    gap: 12px;
    border: 1px solid var(--mode-fcolor);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: var(--mode-wcolor);
}
#add-note{
    height: 190px;
    width: 190px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mode-bcolor);
}
#add-note i{
    font-size: 96px;
    color: var(--mode-fcolor);
}
#header-space{
    flex: 1;
}
#sort-ztoa{
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: block;
    background-image: url('assets/ztoa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: invert(0%);
}
#sort-atoz{
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: block;
    background-image: url('assets/atoz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: invert(0%);
}
#dark-mode{
    height: 58px;
    width: 58px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: block;
    background-image: url('assets/dark-mode.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px 42px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#light-mode{
    height: 58px;
    width: 58px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: none;
    background-image: url('assets/light-mode.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px 42px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#add-wrapper{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#change-color{
    height: 24px;
    width: 24px;
    border: 2px solid #37474f;
    border-radius: 50%;
    cursor: pointer;
}
#color-popup{
    height: 32px;
    width: auto;
    position: absolute;
    bottom: 13.5px;
    left: 20.5px;
    border-radius: 24px;
    padding-inline: 2px;
    gap: 2px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #37474f;
    background-color: #dee4e7;
}
/*colors*/
#close-colorpopup{
    color: #37474f;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}
#close-colorpopup:hover{
    color: salmon;
}
#null-note{
    height: 24px;
    width: 24px;
    border: 2px solid #37474f;
    border-radius: 50%;
    cursor: pointer;
}
#red-note{
    height: 24px;
    width: 24px;
    background-color: #FF8A8A;
    border-radius: 50%;
    cursor: pointer;
}
#green-note{
    height: 24px;
    width: 24px;
    background-color: #C1CFA1;
    border-radius: 50%;
    cursor: pointer;
}
#blue-note{
    height: 24px;
    width: 24px;
    background-color: #A6AEBF;
    border-radius: 50%;
    cursor: pointer;
}
/**/
#add-popup, #edit-popup{
    height: 420px;
    width: 420px;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 24px 12px 24px;
    gap: 12px;
    background-color: #dee4e7;
    box-shadow: 0px 0px 0px 100vmax rgb(0, 0, 0, 0.3);
}
#close-note, #close-editnote{
    position: absolute;
    top: -18px;
    right: -18px;
    align-self: flex-end;
    justify-self: flex-end;
    cursor: pointer;
    font-size: 32px;
    color: #37474f;
    padding: 8px;
}
#close-note:hover, #close-editnote:hover{
    color: #DE8F5F;
    transition: 0.3s ease-in-out;
}
#title-area , #edit-titlearea{
    width: 100%;
    height: 42px;
    padding: 12px;
    font-size: 14px;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    font-weight: 500;
}
#note-area, #edit-notearea{
    width: 100%;
    flex: 1;
    padding: 12px;
    font-size: 14px;
    outline: none;
    border: none;
    resize: none;
    overflow-y: none;
}
#save-note, #edit-save{
    cursor: pointer;
    font-size: 18px;
    color: #37474f;
    padding: 8px;
    border-radius: 50%;
    background-color: #dee4e7;
}
#save-note:hover, #edit-save:hover{
    color: #dee4e7;
    background-color: #37474f;
    transition: 0.3s ease-in-out;
}
#note-wrapper span{
    height: 190px;
    width: 190px;
    cursor: pointer;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    background-color: var(--mode-bcolor);
}
#note-wrapper span h1{
    color: #37474f;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
}
#note-wrapper span h2{
    color: #37474f;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
#delete-note{
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
    color: #37474f;
    background-color: #dee4e7;
}
#delete-note:hover{
    color: #dee4e7;
    background-color: #37474f;
    transition: 0.3s ease-in-out;
}
#edit-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
#successedit-popup, #successdelete-popup, #addednote-popup{
    height: 420px;
    width: 420px;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 24px 12px 24px;
    gap: 12px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 100vmax rgb(0, 0, 0, 0.3);
}
#close-sucedpopup, #close-sucdelpopup, #close-addedpopup{
    position: absolute;
    top: -18px;
    right: -18px;
    align-self: flex-end;
    justify-self: flex-end;
    cursor: pointer;
    font-size: 32px;
    color: #37474f;
    padding: 8px;
}
#close-sucedpopup:hover, #close-sucdelpopup:hover, #close-addedpopup:hover{
    color: #DE8F5F;
    transition: 0.3s ease-in-out;
}
#suced-wrapper, #sucdel-wrapper, #addednote-wrapper{
    flex: 1;
    width: 100%;
    padding: 12px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
}
#suced-wrapper h4, #sucdel-wrapper h4, #addednote-wrapper h4{
    margin-top: 24px;
    text-align: center;
    font-size: 32px;
    color: #37474f;
}
#suced-wrapper img, #sucdel-wrapper img{
    height: 200px;
    width: 200px;
}
#addednote-wrapper img{
    height: 180px;
    width: 180px;
}

